/* Notebook outputs (myst-nb): scrollable box */
div.cell_output div.output pre {
    max-height: 400px;
    overflow-y: auto;
}

/* Tables */
div.cell_output table {
    display: block;
    max-height: 500px;
    overflow: auto;
}

/* Figures */
div.cell_output img {
    max-height: 500px;
    width: auto;
    display: block;
    margin: auto;
}

/* Global link color */
a,
a:visited {
    color: #3a7348 !important;
}

/* Hover links */
a:hover {
    color: #2f5e3a !important;
    text-decoration: underline;
}

/* Sidebar links */
.wy-menu-vertical a {
    color: #3a7348 !important;
}

/* Active navigation item */
.wy-menu-vertical li.current > a {
    background-color: #3a7348 !important;
    color: white !important;
}

/* Top header background */
.wy-side-nav-search {
    background-color: #3a7348 !important;
}

/* Search box border */
.wy-side-nav-search input[type="text"] {
    border-color: #3a7348 !important;
}